$--pink-gradient: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
$--reverse-gradient: linear-gradient(43deg, #ffcc70 0%, #c850c0 46%, #4158d0 100%);
$--darker-gradient: linear-gradient(to right, #d82851, #ff4b2b);
$--dark: #212529;

@mixin form {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('../assets/sample_images/pattern3.jpg');
  // background-color: #130f40;
  // background-image: linear-gradient(315deg, #000000 0%, #060514 74%);
}

@mixin form_container{
  background-color: $--dark ;
  width: 360px;
  // margin: 0rem 28rem 0rem 28rem;
  color: white;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 1rem;
  background: linear-gradient($--dark, $--dark) padding-box, $--reverse-gradient border-box;
  border-radius: 1rem;
  border: 2px solid transparent;
  width: 33rem;
}

@mixin form_input{
  background-color: rgb(85, 85, 85);
  border: none;
  width: 80%;
  border-radius: 1rem;
  padding: 0.6rem;
  padding-left: 1rem;
  transition: 0.4s;
}

@mixin dropdow {
  background-color: $--dark;
  height: auto;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1.3rem 1.3rem 0 1.3rem;
}
@mixin gradient {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin button {
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  height: 3.5rem;
  border-radius: 8px;
  border: none;
  color: white;
}
.primary-button {
  background-image: $--pink-gradient;
  @include button();
}

.primary-button:hover {
  transition: 0.85s;
  border: solid 13px;
  border-radius: 8px;
  border-image: $--pink-gradient border-box;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.color_text {
  @include gradient();
  background-image: $--pink-gradient;
  font-weight: bold;
}

.color_text3 {
  @include gradient();
  background-image: $--pink-gradient;
}

.icon_menu {
  margin: 0rem 2rem 0rem 2rem;
  width: 8rem;
  height: 8rem;
}

