@import '__vars';

.superCont{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #130f40; 
    background-image: linear-gradient(315deg,#000000  0%, #060514 74%);
}
.check_cont{
    background-color: $--dark ;
    width: 360px;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
}

.arrow{
    margin-right: 1rem;
}

.order_field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(82, 82, 82);
    padding: 0.6rem 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}