*{
    overflow-x: hidden;
    font-family: 'IBM Plex Mono', monospace;
}

html{
    background-color: #130f40;
    background-image: linear-gradient(315deg,#000000  0%, #060514 74%);}

header{
    max-height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1090;
}
body{
    background-color: green;
    position: relative;
}
@media (min-width: 2541px){
    html{
        display: flex;
        justify-content: center;
    }
    header{
        width: 100%;
        max-width: 1385px;
    }
    body{
        width: 100%;
        max-width: 1385px;
    }
}