@import '__vars.scss';

header{
    .nav-logo{
        cursor: pointer;
    }
    .title{
        overflow-y: hidden;
        margin-top: 0.25rem;
        margin-bottom: 0;
        margin-left: 0.50rem;
        @include gradient();
    }

    .nav-text{
        // text-light nav-link px-2
        color: whitesmoke;
        padding-left: 1rem;
        text-decoration: none;
    }

    .nav-text:hover{
        transition: 0.55s;
        @include gradient()
    }

    .shopping-cart{
        cursor: pointer;
    }
    .user-icon{
        cursor: pointer
    }
}

@media (max-width: 640px) {
    .nav-text{
        display: none;
    }
    
}