@import '__vars';
.Menu {
  width: 10rem;
  height: auto;
  border: 1px solid white;
  border-radius: 6px;
  padding: 20px 20px 0 20px;
  position: absolute;
  background-color: $--dark;
  top: 5rem;
  right: 5.5rem;
  z-index: 1000;
  transition: swipeDown 0.26s ease;
}
  .primary-button {
    background-image: $--pink-gradient;
    border-radius: 8px;
    border: none;
    color: white;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
  }

  .primary-button:hover{
    background-image: $--reverse-gradient;
  }

// @media (max-width: 640px) {
    
// }