@import '__vars';
.Menu {
  @include dropdow();
  position: fixed;
  width: 10rem;
  top: 5rem;
  right: 8rem;
  z-index: 1080;
  animation: swipeLeft 0.16s linear;
}

@media (max-width: 640px) {
  .Menu{
    position: fixed;
    right: 5rem;
  } 
}

@keyframes swipeLeft {
  0% {
    width: 5rem;
    font-size: 2px;
  }
  100% {
    width: 10rem;
  }
}
@media (min-width: 2561px){
  .Menu{width: 15rem;}

  @keyframes swipeLeft {
    0% {
      width: 0rem;
      height: 2rem;
      font-size: 2px;
    }
  
    25%{
      width: 3rem;
      height: 3rem;
      font-size: 3px;
    }
  
    50%{
      width: 7rem;
      height: 5rem;
      font-size: 5px;
    }
  
    75%{
      width: 10.5rem;
      height: 5.5rem;
      font-size: 6px;
    }
  
    100% {
      width: 14rem;
    }
  }
}