@import '__vars';
.Menu {
  @include dropdow();
  cursor:auto;
  position: fixed;
  width: 10rem;
  top: 5rem;
  right: 7rem;
  z-index: 1100;
  animation: swipeLeft 0.16s linear;
}

@media (max-width: 640px) {
  .Menu{
    position: fixed;
    right: 5rem;
  } 
}

@keyframes swipeLeft {
  0% {
    width: 5rem;
    font-size: 2px;
  }
  100% {
    width: 10rem;
  }
}
@media (min-width: 2541px){
  .Menu{
    position: fixed;
    right: 49.5rem;
  }
}

@media (min-width: 3839px){
  .Menu{
    position: fixed;
    right: 95.4rem;
  }
}
@media (min-width: 4000px){
  .Menu{
    position: fixed;
    right: 104rem;
  }
}